@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Roboto&display=swap');

:root {
    --primary-color: #FEFBF6;
    --second-color: #cbdbec;
    --third-color: #f0f8ff;
    --fourth-color: #B2B2B2;
    --fifth-color: #3C4048;
    --sixth-color:#ddcacf53;
    --seventh-color:#d3d3d3;
    --eighth-color:#0175b2;
}

*{
    font-family: 'Bitter', serif;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

header {
    height: 40px;
    background-color: var(--sixth-color);
    display: flex;
    justify-content: end;
    position: fixed;
    width: 100%;
    align-items: center;
    
  }

nav li {
    display: flex;
    display: inline;
    font-size: 20px;
    color: var(--second-color);
    padding: 10px 14px;
  }

.cv-button:hover{
    background-color: var(--fourth-color);
    outline: none;
}

body{
    background-color: var(--fifth-color);
}

.side{
    display: flex;
    left: 5px;
    position:fixed;
    bottom: 100px;
    padding: 30px;
    margin: auto;
}


section{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

h1, h2, .title{
    text-align: center;
}

.title #logo {
    font-size: 50px;
    font-weight: 550;
}

.hero {
    flex-direction: row;
}

.hero img {
    width: 50%;
    object-fit: cover;
}

.hero aside {
    flex: 1;
}

.interests aside{
    display: flex;
    justify-content: space-between;
    
}

.interests .hobby{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

h3 #int{
    display: flex;
    text-align: center;
}

#int{
    margin-top: 10%;
}

.about-me{
    text-align:center;
    padding: 10px;
    margin: auto;
}


h3{
    animation: 3s 1 alternate slidein;
}

@keyframes slidein{
    from {
        margin-left: 100%;
        width: 300%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.achievements{
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.Education{
    flex: 1;
    padding: 60px;
    
    
}
.Edu{
    display: block;
}
.Education article{
    margin-top: 30px;
    display: flex;
}

article .year{
    flex: 1;
}

article .content{
    flex: 2;
}

#center{
text-align: center;
}

#art{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.Skills{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
    
}

.skills-left{
    display: flex;
    justify-content: space-between;

}

.skills-bar{
    border: 2px solid var(--eighth-color);
    height: 10px;
    background-color: var(--primary-color);
    
}

.skills-bar .html{
    width: 40%;
    height: 100%;
    background-color: var(--eighth-color);
}

.skills-bar .python{
    width: 40%;
    height: 100%;
    background-color: var(--eighth-color);
}

.skills-bar .css{
    width: 35%;
    height: 100%;
    background-color: var(--eighth-color);
}

.skills-bar .js{
    width: 25%;
    height: 100%;
    background-color: var(--eighth-color);
}

.skills-bar .punctuality{
    width: 75%;
    height: 100%;
    background-color: var(--eighth-color);
}

.skills-bar .teamwork{
    width: 65%;
    height: 100%;
    background-color: var(--eighth-color);
}

.skills-bar .organization{
    width: 45%;
    height: 100%;
    background-color: var(--eighth-color);
}

.skills-bar .creativity{
    width: 55%;
    height: 100%;
    background-color: var(--eighth-color);
}