@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #FEFBF6;
    --second-color: #cbdbec;
    --third-color:#0175b2;
    --fourth-color:#ddcacf;
    --fifth-color: #3C4048;
}

*{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

header {
    height: 40px;
    background-color: #000000;
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}

nav li {
    display: inline;
    font-size: 20px;
    padding: 10px 14px;
    list-style: none;
}

nav li a {
    color:  var(--primary-color);
    text-decoration: none;
}

nav li a:link {
    text-decoration: none;
}

nav li a:visited {
    text-decoration: none;
}

nav li a:hover {
    text-decoration:underline;
}

nav li a:active {
    text-decoration: none;
}

body{
    background: rgb(148,56,14);
    background: linear-gradient(90deg, rgba(148,56,14,1) 0%, rgba(109,18,110,1) 44%, rgba(40,121,173,1) 100%);
    height: 100%;
    width: 100%;
}

.side{
    display: flex;
    left: 5px;
    position:fixed;
    bottom: 100px;
    padding: 30px;
    margin: auto;
}


section{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.title {
    text-align: center;
    height: 95vh;
}

.title h1 {
    font-size: 60px;
    font-weight: 300;
}

.title #logo {
    font-size: 100px;
    font-weight: 700;
}

.title h2 {
    font-size: 20px;
    font-weight: 100;
}

.hero {
    flex-direction: row;
}

.hero img {
    width: 50%;
    object-fit: cover;
}

.hero aside {
    flex: 1;
}

.interests aside{
    display: flex;
    justify-content: space-between;
    
}

.interests .hobby{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.interests h3 {
    text-align: center;
}

.about-me{
    text-align:center;
    margin: 30px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me > * {
    margin: 15px 0px;
}

.achievements{
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.Education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 60px;
}

.Edu{
    display: block;
}

.Education article{
    margin-top: 30px;
    display: flex;
}

.Education article .year {
    text-align: right;
    margin-right: 16px;
}

.Education article .content {
    text-align: left;
    color: var(--second-color);
}

article .year{
    flex: 1;
}

article .content{
    flex: 2;
}

#center{
text-align: center;
}

#art{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.Skills{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
    justify-content: center;
}

.Personal-skills {
    margin-top: 15px;
}

.skills-left{
    display: flex;
    justify-content: space-between;

}

.skills-bar{
    border: 2px solid var(--third-color);
    height: 10px;
    background-color: var(--primary-color);
    
}

.skills-bar .html{
    width: 40%;
    height: 100%;
    background-color: var(--third-color);
}

.skills-bar .python{
    width: 40%;
    height: 100%;
    background-color: var(--third-color);
}

.skills-bar .css{
    width: 35%;
    height: 100%;
    background-color: var(--third-color);
}

.skills-bar .js{
    width: 25%;
    height: 100%;
    background-color: var(--third-color);
}

.skills-bar .punctuality{
    width: 75%;
    height: 100%;
    background-color: var(--third-color);
}

.skills-bar .teamwork{
    width: 65%;
    height: 100%;
    background-color: var(--third-color);
}

.skills-bar .organization{
    width: 45%;
    height: 100%;
    background-color: var(--third-color);
}

.skills-bar .creativity{
    width: 55%;
    height: 100%;
    background-color: var(--third-color);
}

.contact{
    display: flex;
    flex-direction: row;
}

.contact-r{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-r > * {
    margin: 20px;
}

.contact-links {
    display: flex;
    flex-direction: column;
}

.contact-r h2{
    font-size: 30px;
}

.contact-links > *{
    margin: 10px;
    font-size: 18px;
}

.contact-f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}

.form {
    width: 70%;
}

.form input {
    width: 100%;
    height: 30px;
    color: black;
    margin: 3px 0px;
    border-radius: 10px;
    border: 3px solid var(--third-color);
}

.msg-field input {
    height: 80px;
}

.button-space button {
    width: 150px;
    height: 25px;
    background-color: var(--third-color);
    color: var(--primary-color);
    border: none;
    border-radius: 15px;
    margin: 3px 0px;
}

@media only screen and (max-width: 800px) {
    .hero, .achievements, .contact {
        flex-direction: column;
    }

    .hero img {
        width: 100%;
        object-fit: cover;
    }

    nav li {
        padding: 0px 8px;
    }

    .title {
        height: 100vh;
    }

    .about-me {
        margin: 20px;
    }

    .Education {
        padding: 20px;
    }
}
  